{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'assets/css/flights.css' %}" rel="stylesheet" />
<style>
  .card-container {
    display: flex;
    overflow-x: auto; 
  }
  .no{
    position: absolute;
    top:300px;
    left:700px;
    font-size:25px;
}
  .card {
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05); 
  }

  .card-body {
    display: flex;
    align-items: center;
    flex-direction: column; /* Center content vertically */
    text-align: center; /* Center text horizontally */
  }

  .card-graphic {
    flex: 0 0 auto;
    margin-bottom: 10px; /* Add margin between image and title */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .card-graphic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flight-info {
    font-size: 14px; /* Adjust font size as needed */
    font-weight: 500;
    color: #555; /* Adjust color as needed */
  }

  .room-title {
    margin: 5px 0 10px; /* Adjust margin as needed */
    font-size: 18px; /* Adjust font size as needed */
  }

  .details-fcontainer {
    margin-bottom: 10px;
  }

  .amount-text {
    margin-top: 10px;
    font-size: 20px;
    color: #007bff; 
  }

  .buttons-fcontainer {
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block content %}
<section class="mt-7 py-0">
  <main>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="fcontainer card-container">


      <section class="rooms-section">
        {% if Page == 'All Flights' %}
          
        <div class="col-4">
          <div class="input-group-icon">
            <label class="form-label darkw" for="inputJourneyDate">Journey Date</label>
            <input required class="form-control input-box form-voyage-control" id="inputDateThree" type="date"
              name="date" />
          </div>
        </div>

        <div class="col-4">
        </div>

          <div class="col-4">
            <label class="form-label darkw" for="inputPeopleTwo">No. of Seats</label>
            <div class="input-group-icon">
              <input class="form-control input-box form-voyage-control" id="inputPeopleTwo" type="text" required
                name="seats" placeholder="From where" /><span
                class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
            </div>
          </div>
{% endif %}
        <div class="frow center-lg">



{% if Flights %}

          {% for flight in Flights %}
          <div class="rooms fcol fcol-4 card mt-4">
            <div class="card-body">
              <div class="card-graphic">
                <img src="{% static 'assets\img\cc33e6304b84c490b8c5192fdbb6e29d.jpg' %}">
              </div>
              <h3 class="flight-info">
                {{ flight.flight_name }} - Seats: {{ flight.seats }}
              </h3>
              <h3 class="room-title">{{ flight.source }} to {{ flight.destination }}</h3>
              <div class="details-fcontainer">
                <p class="list-text">
                  <i class="fas fa-plane-departure"></i>  {{ flight.dept_time }}
                </p>
                <p class="list-text">
                  <i class="fas fa-clock"></i>  {{ flight.journey_time }}
                </p>
                <p class="list-text">
                  <i class="fas fa-plane-arrival"></i> {{ flight.dest_time }}
                </p>
              </div>
              <p class="amount-text">{{ flight.eprice }}</p>
              <div class="buttons-fcontainer">
                <form action="{% url 'app:bookflight' %}" onsubmit=" return DoSubmit(); " method="post">
                  {% csrf_token %}
                  <input type="hidden" name="flight" value="{{ flight.flight_num }}" />
                  <input type="hidden" class="date_value" name="date" value="{{ date }}" />
                  <input type="hidden" class="seats_value" name="seats" value="{{ seats }}" />
                  {% if Page == 'Booked Flights' %}
                  <button class="fbtn fbtn-ghost" disabled>Booked</button>
                  {% else %}
                  <button class="fbtn fbtn-ghost">Book Now</button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="position-relative">
            <p class="no">No Bookings</p>
        </div>
            {% endif %}
        </div>
      </section>
    </div>
  </main>
</section>

{% endblock %} {% block js %}
<script>

      function DoSubmit() {
        var date = document.getElementById('inputDateThree').value;
        var seats = document.getElementById('inputPeopleTwo').value;
        const date_value = document.querySelectorAll('.date_value');
        const seats_value = document.querySelectorAll('.seats_value');
        if (date == "") {
          alert("Please select a date");
          return false;
        } else if (seats == "") {
          alert("Please enter the number of seats");
          return false;
        }
        
        date_value.forEach((element) => {
          element.value = date;
      });

      seats_value.forEach((e)=>{
        e.value = seats;
      })

        return true;
      }


      document.addEventListener('DOMContentLoaded', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark= document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');
        
        if(!mode){
          localStorage.setItem("darkMode", "light");
          darkModeToggle.innerHTML = "Dark Mode";
        } else{
          if(mode === "dark"){
            darkModeToggle.innerHTML = "Light Mode";
            dark.forEach((element) => {
              element.classList.add('dark-mode');
            });
            darkw.forEach((element) => {
              element.classList.add('dark-word');
            });
          }
        }
        
        
      });
      
      
      darkModeToggle.addEventListener('click', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark= document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');

        if(mode === "dark"){
          darkModeToggle.innerHTML = "Dark Mode";
          dark.forEach((element) => {
            element.classList.remove('dark-mode');
          });
          darkw.forEach((element) => {
            element.classList.remove('dark-word');
          });
          localStorage.setItem("darkMode", "light");
        } else{
          darkModeToggle.innerHTML = "Light Mode";
          dark.forEach((element) => {
            element.classList.add('dark-mode');
          });
          darkw.forEach((element) => {
            element.classList.add('dark-word');
          });
          localStorage.setItem("darkMode", "dark");
        }

      });
    </script>
{% endblock %}
