{% extends 'base.html' %} {% load static %} {% block css %}
<link href="{% static 'assets/css/flights.css' %}" rel="stylesheet" />
{%endblock%} {% block content %}

<section class="mt-7 py-0">
  <main>
    {% for message in messages %}

    <div
      class="alert {{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    {% endfor %}
    <div class="fcontainer">
      <!-- Rooms -->
      <section class="rooms-section">
        <div class="frow room-section-header-fcontainer">
          <div class="fcol fcol-3">
            <h4 class="room-section-header active-header" id="standard-room">
              Standard Rooms
            </h4>
          </div>
          <!-- <div class="fcol fcol-3">
                  <h4 class="room-section-header" id="executive-room">Executive Rooms</h4>
              </div>
              <div class="fcol fcol-3">
                  <h4 class="room-section-header" id="king-room">King Suites</h4>
              </div> -->
        </div>
        <div class="frow center-lg">
          {% for flight in Flights %}
          <div class="rooms fcol fcol-2">
            <img
              src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_42_nastdj.png"
              alt=""
              class="rooms-img"
            />
            <h3 class="room-title">{{ flight.source }}</h3>
            <p class="room-text">{{ flight.destination }}</p>
            <div>
              <div class="details-fcontainer">
                <img
                  src="{% static 'assets/img/check-square.svg'%}"
                  alt="tick"
                  class="list-icon"
                />
                <p class="list-text">
                  <b>Departure</b> <br />
                  {{ flight.dept_time }}
                </p>
              </div>
              <div class="details-fcontainer">
                <img
                  src="{% static 'assets/img/check-square.svg'%}"
                  alt="tick"
                  class="list-icon"
                />
                <p class="list-text">
                  <b>Destination</b> <br />
                  {{ flight.dest_time }}
                </p>
              </div>
              <div class="details-fcontainer">
                <img
                  src="{% static 'assets/img/check-square.svg'%}"
                  alt="tick"
                  class="list-icon"
                />
                <p class="list-text">{{ flight.seats }} available</p>
              </div>
              <div class="details-fcontainer">
                <img
                  src="{% static 'assets/img/icons/loc.png'%}"
                  alt="tick"
                  class="list-icon"
                />
                <p class="list-text">{{ flight.destination }}</p>
              </div>
            </div>
            <p class="amount-text">{{ flight.eprice }}</p>

            <div class="buttons-fcontainer row">
              <a href="#" class="fbtn fbtn-fill col">{{ flight.company }}</a>
              <a href="#" class="fbtn fbtn-fill col"
                >{{ flight.journey_time }}</a
              >
              <form
                action="{% url 'app:bookflight' %}"
                class="col"
                method="post"
              >
                {% csrf_token %}
                <input
                  type="hidden"
                  name="flight"
                  value="{{ flight.flight_num }}"
                />
                <input type="hidden" name="date" value="{{ date }}" />
                <input type="hidden" name="seats" value="{{ seats }}" />
                {% if Page == 'Flights' %}
                <button class="fbtn fbtn-ghost col">Book Now</button>
                {% else %}
                <button class="fbtn fbtn-ghost col" disabled>Booked</button>
                {% endif %}
              </form>
            </div>
          </div>

          {% endfor %}
        </div>
      </section>
    </div>
  </main>
</section>

{% endblock %} {% block js %}
<!-- <script src={% static "assets/js/hotels.js" %}></script> -->
{% endblock %}
