{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'assets/css/hotels.css' %}" rel="stylesheet" />'
<link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>'
<style>
    #cluster-map {
      width: 100%;
      height: 500px;
    }
    .no{
        position: absolute;
        top:300px;
        left:700px;
        font-size:25px;
    }
  </style>
{% endblock %}

{% block content %}
<section class="mt-7 py-0">
    <main>
        {% for message in messages %}

        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% if Hotels %}


        <div id="cluster-map"></div>


        <div class="fcontainer">
            
            <section class="rooms-section">
                <div class="frow room-section-header-fcontainer">
                </div>
                <div class="frow center-lg">

                    {% if Page == 'All Hotels' %}
                    <div class="col-4">
                        <div class="input-group-icon">
                          <label class="form-label" for="inputFromDate">From</label>
                          <input required class="form-control input-box form-voyage-control" id="inputDateThree" type="date"
                            name="fdate" />
                        </div>
                      </div>
    
                      <div class="col-4">
                        <div class="input-group-icon">
                          <label class="form-label" for="inputToDate">To</label>
                          <input required class="form-control input-box form-voyage-control" id="inputDateThree" type="date"
                            name="tdate" />
                        </div>
                      </div>
    
                      
    
                      <div class="col-4">
                        <label class="form-label" for="inputPeopleTwo">No. of Rooms</label>
                        <div class="input-group-icon">
                          <input class="form-control input-box form-voyage-control" id="inputPeopleTwo" type="text" required
                            name="rooms" placeholder="No. of Rooms" /><span
                            class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                      </div>

                      {% endif %}


                    {% for hotel in Hotels %}
                    <div class="rooms fcol fcol-2 dark mt-3">
                        <img width="50%" src="{{ hotel.hotel_image.url }}" alt="" class="rooms-img">
                        <h3 class="room-title darkw"> {{ hotel.hotel_name }} </h3>
                        <p class="room-text">{{ hotel.des }}</p>
                        <div>
                            <div class="details-fcontainer">
                                <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                                <p class="list-text darkw">2 Persons</p>
                            </div>
                            <div class="details-fcontainer">
                                <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                                <p class="list-text darkw">1 Kingsize bed</p>
                            </div>
                            <div class="details-fcontainer">
                                <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                                <p class="list-text darkw">{{ hotel.rooms }} available</p>
                            </div>
                            <div class="details-fcontainer">
                                <img src="{% static 'assets/img/icons/loc.png'%}" alt="tick" class="list-icon">
                                <p class="list-text darkw">{{ hotel.city }} </p>
                            </div>
                        </div>
                        <p class="amount-text darkw">{{ hotel.hotel_price }}</p>


                        <p class="add-text darkw">{{ hotel.hotel_address }}</p>

                        <div class="buttons-fcontainer row">
                            <div class="col-1">
                                <i class="fa fa-star" style="color: antiquewhite;"></i>
                                <!-- <a href="#" class="fbtn fbtn-fill col">{{ hotel.hotel_rating }}</a> -->
                            </div>
                            <p class="rating col-2 darkw">{{ hotel.hotel_rating}}</p>

                            <form action="{% url 'app:bookhotel' %}" onsubmit="return DoSubmit();" class="col-4" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="hotel" value="{{ hotel.hotel_name }}">
                                <input type="hidden" class="fdate_value" name="fdate" value="{{ fdate }}">
                                <input type="hidden" class="tdate_value" name="tdate" value="{{ tdate }}">
                                <input type="hidden" class="rooms_value" name="rooms" value="{{ rooms }}">
                                
                                {% if Page == 'Booked Hotels' %}
                                <button class="fbtn fbtn-ghost col" disabled>Booked</button>
                                {% else %}
                                <button type="submit" class="fbtn fbtn-ghost col">Book Now</button>
                                {% endif %}
                            </form>


                        </div>
                    </div>

                    {% endfor %}
                    {% else %}
                    <div class="position-relative">
                    <p class="no">No Bookings</p>
                </div>
                    {% endif %}

                </div>
            </section>
        </div>
    </main>
</section>
{% endblock %}



{% block js %}
<script>

    function DoSubmit(){
        const fdate = document.getElementById('inputDateThree').value;
        const tdate = document.getElementById('inputDateThree').value;
        const room = document.getElementById('inputPeopleTwo').value;
        const rooms = document.querySelectorAll('.rooms_value');
        const fdates = document.querySelectorAll('.fdate_value');
        const tdates = document.querySelectorAll('.tdate_value');

        if(fdate == "" || tdate == "" || room == ""){
            alert("Please fill all the fields");
            return false;
        }


        fdates.forEach((element) => {
            element.value = fdate
        });
        tdates.forEach((element) => {
            element.value = tdate
        });
        rooms.forEach((element) => {
            element.value = room
        });
        return true;
      }



    document.addEventListener('DOMContentLoaded', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark = document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');

        if (!mode) {
            localStorage.setItem("darkMode", "light");
            darkModeToggle.innerHTML = "Dark Mode";
        } else {
            if (mode === "dark") {
                darkModeToggle.innerHTML = "Light Mode";
                dark.forEach((element) => {
                    element.classList.add('dark-mode');
                });
                darkw.forEach((element) => {
                    element.classList.add('dark-word');
                });
            }
        }


    });


    darkModeToggle.addEventListener('click', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark = document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');

        if (mode === "dark") {
            darkModeToggle.innerHTML = "Dark Mode";
            dark.forEach((element) => {
                element.classList.remove('dark-mode');
            });
            darkw.forEach((element) => {
                element.classList.remove('dark-word');
            });
            localStorage.setItem("darkMode", "light");
        } else {
            darkModeToggle.innerHTML = "Light Mode";
            dark.forEach((element) => {
                element.classList.add('dark-mode');
            });
            darkw.forEach((element) => {
                element.classList.add('dark-word');
            });
            localStorage.setItem("darkMode", "dark");
        }

    });
</script>

<script>
  
    const campgrounds = {{ hdet|safe }}
    const mapToken = 'pk.eyJ1IjoicHNhaSIsImEiOiJjbGtmOWJwaTMxdW1wM2V0amMyajBrbGVoIn0.WQKaqwc8MrvvOFtxalsP1A';
    const map = new mapboxgl.Map({
        container: 'cluster-map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [campgrounds.features[0].geometry.coordinates[0], campgrounds.features[0].geometry.coordinates[1]],
        {% if Page == 'Hotels' or Page == 'Booked Hotels' %}
        zoom: 7,
        {% else %}
        zoom: 1,
        {% endif %}
        accessToken: mapToken
      });
    </script>
    
    <script src={% static "assets/js/map.js" %} ></script>
{% endblock js %}