{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'assets/css/hotels.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<main>
    {% for message in messages %}

    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="fbtn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="fcontainer">

        <!-- Top Text -->
        

        <!-- Rooms -->
        <section class="rooms-section">
            <div class="frow room-section-header-fcontainer">
                <!-- <div class="fcol fcol-3">
                    <h4 class="room-section-header active-header" id="standard-room">Standard Rooms</h4>
                </div> -->
                <!-- <div class="fcol fcol-3">
                  <h4 class="room-section-header" id="executive-room">Executive Rooms</h4>
              </div>
              <div class="fcol fcol-3">
                  <h4 class="room-section-header" id="king-room">King Suites</h4>
              </div> -->
            </div>
            <div class="frow center-lg">

                {% for hotel in Hotels %}
                <div class="rooms fcol fcol-2">
                    <img width="50%" src="{{ hotel.hotel_image.url }}" alt="" class="rooms-img">
                    <h3 class="room-title"> {{ hotel.hotel_name }} </h3>
                    <p class="room-text">{{ hotel.des }}</p>
                    <div>
                        <div class="details-fcontainer">
                            <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                            <p class="list-text">2 Persons</p>
                        </div>
                        <div class="details-fcontainer">
                            <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                            <p class="list-text">1 Kingsize bed</p>
                        </div>
                        <div class="details-fcontainer">
                            <img src="{% static 'assets/img/check-square.svg'%}" alt="tick" class="list-icon">
                            <p class="list-text">{{ hotel.rooms }} available</p>
                        </div>
                        <div class="details-fcontainer">
                            <img src="{% static 'assets/img/loc.png'%}" alt="tick" class="list-icon">
                            <p class="list-text">{{ hotel.city }} </p>
                        </div>
                    </div>
                    <p class="amount-text">{{ hotel.hotel_price }}</p>


                    <p class="add-text">{{ hotel.hotel_address }}</p>

                    <div class="buttons-fcontainer">
                        <a href="#" class="fbtn fbtn-fill">{{ hotel.hotel_rating }}</a>

                        <form action="{% url 'app:bookhotel' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="hotel" value="{{ hotel.hotel_name }}">
                            <input type="hidden" name="fdate" value="{{ fdate }}">
                            <input type="hidden" name="tdate" value="{{ tdate }}">
                            <input type="hidden" name="rooms" value="{{ rooms }}">
                            <button type="submit" class="fbtn fbtn-ghost">Book Now</button>
                        </form>


                    </div>
                </div>

                {% endfor %}

            </div>
        </section>
    </div>
</main>
{% endblock %}


{% block js %}
<script src={% static "assets/js/hotels.js" %}></script>
{% endblock %}