{% extends 'base.html' %}
{% load static %}
 {% block content %}



<section class="mt-7 py-0">
  <div
    class="bg-holder w-50 bg-right d-none d-lg-block"
    style="background-image: url({% static 'assets/img/gallery/hero-section-1.png'%})"
  ></div>
  <!--/.bg-holder-->
{% for message in messages %}

         <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
      
      {% endfor %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
        <h1 class="display-3 text-1000 fw-normal darkw">Let’s make a tour</h1>
        <h1 class="display-3 text-primary fw-bold darkw">Discover the beauty</h1>
        <div class="pt-5">
          <nav>
            <div class="nav nav-tabs voyage-tabs" id="nav-tab" role="tablist">
              <button
                class="active nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                <i class="fas fa-plane"></i>
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
              >
                <i class="fas fa-hotel"></i>
              </button>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane active"
                id="nav-profile"
                role="tabpanel"
                aria-labelledby="nav-profile-tab"
              >
                <form class="row g-4 mt-5" action="/flights/" method="post">
                  {% csrf_token %}
                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label darkw" for="inputSource">Source</label>
                      <select
                        class="form-select form-voyage-select input-box"
                        id="inputSource"
                        name="source"
                        required
                      >
                        <option value="vizag">---</option>
                        <option value="vizag">Vizag</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="bengaluru">Bengaluru</option>
                        <option value="mumbai">Mumbai</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label darkw" for="inputDestination"
                        >Destination</label
                      >
                      <select
                      required
                        class="form-select form-voyage-select input-box"
                        id="inputDestination"
                        name="destination"
                      >
                        <option value="vizag">---</option>
                        <option value="visakhapatnam">Visakhapatnam</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="bengaluru">Bengaluru</option>
                        <option value="mumbai">Mumbai</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label darkw" for="inputJourneyDate"
                        >Journey Date</label
                      >
                      <input
                      required
                        class="form-control input-box form-voyage-control"
                        id="inputDateThree"
                        type="date"
                        name="date"
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <label class="form-label darkw" for="inputPeopleTwo"
                      >No. of Seats</label
                    >
                    <div class="input-group-icon">
                      <input
                        class="form-control input-box form-voyage-control"
                        id="inputPeopleTwo"
                        type="text"
                        required
                        name="seats"
                        placeholder="From where"
                      /><span
                        class="nav-link-icon text-800 fs--1 input-box-icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                    </div>
                  </div>

                  <div class="col-12 d-grid mt-6">
                    <button class="btn btn-secondary" type="submit">
                      Search
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="nav-contact"
                role="tabpanel"
                aria-labelledby="nav-contact-tab"
              >
                <form class="row g-4 mt-5" action="{% url "app:hotel" %}" method="post">
                  {% csrf_token %}
                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label" for="inputFromDate">From</label>
                      <input
                      required
                        class="form-control input-box form-voyage-control"
                        id="inputDateThree"
                        type="date"
                        name="fdate"
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label" for="inputToDate">To</label>
                      <input
                      required
                        class="form-control input-box form-voyage-control"
                        id="inputDateThree"
                        type="date"
                        name="tdate"
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="input-group-icon">
                      <label class="form-label" for="inputLocation"
                        >Location</label
                      >
                      <select
                      required
                        class="form-select form-voyage-select input-box"
                        id="inputLocation"
                        name="city"
                      >
                        <option value="vizag">---</option>
                        <option value="visakhapatnam">Visakhapatnam</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="bengaluru">Bengaluru</option>
                        <option value="chennai">Chennai</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <label class="form-label" for="inputPeopleTwo"
                      >No. of Rooms</label
                    >
                    <div class="input-group-icon">
                      <input
                        class="form-control input-box form-voyage-control"
                        id="inputPeopleTwo"
                        type="text"
                        required
                        name="rooms"
                        placeholder="No. of Rooms"
                      /><span
                        class="nav-link-icon text-800 fs--1 input-box-icon"
                        ><i class="fas fa-map-marker-alt"></i
                      ></span>
                    </div>
                  </div>

                  <div class="col-12 d-grid mt-6">
                    <button class="btn btn-secondary" type="submit">
                      Search
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <img
          class="img-fluid order-md-0 mb-4 h-100 fit-cover"
          src="{% static 'assets/img/gallery/hero-section-2.png'%}"
          alt="..."
        />
      </div>
      <div class="col-lg-6 px-0 bg-primary-gradient bg-offcanvas-right">
        <div class="mx-6 mx-xl-8 my-8">
          <div class="align-items-center d-block d-flex mb-5">
            <img
              class="img-fluid me-3 me-md-2 me-lg-4"
              src="{% static 'assets/img/icons/locations.png'%}"
              alt="..."
            />
            <div class="flex-1 align-items-center pt-2">
              <h5 class="fw-bold text-light">Visit the greatest places</h5>
            </div>
          </div>
          <div class="align-items-center d-block d-flex mb-5">
            <img
              class="img-fluid me-3 me-md-2 me-lg-4"
              src="{% static 'assets/img/icons/schedule.png'%}"
              alt="..."
            />
            <div class="flex-1 align-items-center pt-2">
              <h5 class="fw-bold text-light">Make your own plans.</h5>
            </div>
          </div>
          <div class="align-items-center d-block d-flex mb-5">
            <img
              class="img-fluid me-3 me-md-2 me-lg-4"
              src="{% static 'assets/img/icons/save.png'%}"
              alt="..."
            />
            <div class="flex-1 align-items-center pt-2">
              <h5 class="fw-bold text-light">Save 50% on your next trip</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section class="py-7 overflow-hidden" id="places">
  <div class="container bg-offcanvas-gray-right">
    <div class="row gx-2 mb-2">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="bg-primary-gradient bg-offcanvas h-100">
          <div class="row g-0 justify-content-end">
            <div class="col-12">
              <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light">
                <img
                  class="mb-5"
                  src="{% static 'assets/img/icons/icon-location.svg'%}"
                  alt="..."
                />
                <h2 class="mb-2 text-light">Popular places</h2>
                <p>
                  Enjoy the trips<br class="d-none d-lg-block" />where our
                  visitors have more fun.
                  <br class="d-none d-lg-block" />Properly arranged with low
                  costing.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card card-span h-100 text-white">
          <img
            class="img-fluid h-100 w-100"
            src="{% static 'assets/img/gallery/agra.png'%}"
            height="375"
            alt="..."
          />
          <div
            class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
          >
            <div class="mt-auto px-4 mb-1">
              <h3 class="fs-1 fs-md-2 text-white">Vizag</h3>
            </div>
          </div>
          <a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card card-span h-100 text-white">
          <img
            class="img-fluid h-100 w-100"
            src="{% static 'assets/img/gallery/kualalumpur.png'%}"
            height="375"
            alt="..."
          />
          <div
            class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
          >
            <div class="mt-auto px-4 mb-1">
              <h3 class="fs-1 fs-md-2 text-white">Bengaluru</h3>
            </div>
          </div>
          <a class="stretched-link" href="#!"></a>
        </div>
      </div>
    </div>

    <div
      class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
    ></div>
  </div>
</section>
<section class="py-0 my-7">
  <div
    class="bg-holder w-50 bg-left d-none d-lg-block"
    style="
      background-image: url({% static 'assets/img/gallery/sharee.png'%});
      background-position: top;
    "
  ></div>
  <!--/.bg-holder-->

  <div class="container">
    <div class="row g-0">
      <div class="col-lg-4 order-1 order-lg-0"></div>
      <div class="col-lg-8 bg-white">
        <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100">
                <div class="col-12">
                  <img
                    class="w-100"
                    src="{% static  'assets/img/gallery/dubai.png'%}"
                    height="600"
                    alt="..."
                  />
                  <div class="pt-5 ps-sm-7">
                    <h4 class="mb-2 text-1000">Share a trip</h4>
                    <h2 class="mb-3 text-primary fs-3 fs-md-6">Dubai</h2>
                    <p class="fw-normal mb-0">
                      Dubai, a city with many faces, is one of the world's most
                      popular tourist destinations. The Burj Khalifa, the
                      world's highest tower, is located here. The futuristic
                      beauty of new buildings is at the heart of Dubai tourism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row h-100">
                <div class="col-12">
                  <img
                    class="w-100"
                    src="{% static 'assets/img/gallery/cinnamon.png'%}"
                    height="600"
                    alt="..."
                  />
                  <div class="pt-5 ps-sm-7">
                    <h4 class="mb-2 text-1000">Share a trip</h4>
                    <h2 class="mb-3 text-primary fs-3 fs-md-6">Maldives</h2>
                    <p class="fw-normal mb-0">
                      Dubai, a city with many faces, is one of the world's most
                      popular tourist destinations. The Burj Khalifa, the
                      world's highest tower, is located here. The futuristic
                      beauty of new buildings is at the heart of Dubai tourism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <div class="row h-100">
                <div class="col-12">
                  <img
                    class="w-100"
                    src="{% static 'assets/img/gallery/dhigu.png'%}"
                    height="600"
                    alt="..."
                  />
                  <div class="pt-5 ps-sm-7">
                    <h4 class="mb-2 text-1000">Share a trip</h4>
                    <h2 class="mb-3 text-primary fs-3 fs-md-6">Maldives</h2>
                    <p class="fw-normal mb-0">
                      Dubai, a city with many faces, is one of the world's most
                      popular tourist destinations. The Burj Khalifa, the
                      world's highest tower, is located here. The futuristic
                      beauty of new buildings is at the heart of Dubai tourism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row h-100">
                <div class="col-12">
                  <img
                    class="w-100"
                    src="{% static 'assets/img/gallery/dubai.png'%}"
                    height="600"
                    alt="..."
                  />
                  <div class="pt-5 ps-sm-7">
                    <h4 class="mb-2 text-1000">Share a trip</h4>
                    <h2 class="mb-3 text-primary fs-3 fs-md-6">Dubai</h2>
                    <p class="fw-normal mb-0">
                      Dubai, a city with many faces, is one of the world's most
                      popular tourist destinations. The Burj Khalifa, the
                      world's highest tower, is located here. The futuristic
                      beauty of new buildings is at the heart of Dubai tourism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ps-sm-7 align-items-end">
            <div class="col-4 col-sm-6 position-relative z-index-2">
              <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                <li
                  class="active"
                  data-bs-target="#carouselShare"
                  data-bs-slide-to="0"
                ></li>
                <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselShare" data-bs-slide-to="3"></li>
              </ol>
            </div>
            <div class="col-8 col-sm-6 position-relative z-index-2 text-end">
              <a class="btn btn-lg text-secondary" href="#" role="button"
                >Read More
                <svg
                  class="bi bi-arrow-right ms-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="35"
                  height="35"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  ></path></svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->

<section class="py-7 overflow-hidden " id="hotels">
  <div class="container bg-offcanvas-gray-right ">
    <div class="row gx-2">
      <div class="col-sm-6 col-lg-4">
        <div class="bg-primary-gradient h-100 d-flex align-items-end">
          <div class="row g-0 justify-content-start">
            <div class="col-xl-9">
              <div class="p-3 px-lg-4 text-light">
                <img
                  class="mb-5"
                  src="{% static 'assets/img/icons/icon-hotel.svg'%}"
                  alt="..."
                />
                <h2 class="mb-3 text-light">
                  Discover our best hotels to stay
                </h2>
                <p>
                  Bundle tickets to any hotel to save on your whole order.
                  Follow bundle it! method by picking the right hotel
                  accommodation once you add your tickets to your cart.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="row g-2">
          <div class="col-12">
            <div class="card card-span h-100 text-white">
              <img
                class="img-fluid h-100 w-100"
                src="{% static 'assets/img/gallery/moon-house-hotel.png'%}"
                height="375"
                alt="..."
              />
              <div
                class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
              >
                <div class="mt-auto px-4">
                  <h3 class="fs-1 fs-md-2 text-white">Moon House Hotel</h3>
                  <div class="d-flex align-items-center justify-content-start">
                    <span class="text-light fs--1 me-1"
                      ><i class="fas fa-map-marker-alt"></i></span
                    ><span class="text-light me-md-3"
                      >Soi Petchburi 19, Bankok</span
                    >
                  </div>
                  <p class="mb-0 mt-3">Starts from</p>
                  <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                    <span>$175</span
                    ><span class="text-light fs--1 fw-normal">/Per person</span>
                  </h1>
                </div>
              </div>
              <a class="stretched-link" href="#!"> </a>
            </div>
          </div>
          <div class="col-12">
            <div class="card card-span h-100 text-white">
              <img
                class="img-fluid h-100 w-100"
                src="{% static 'assets/img/gallery/blue-mosque-hotel.png'%}"
                height="375"
                alt="..."
              />
              <div
                class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
              >
                <div class="mt-auto px-4">
                  <h3 class="fs-1 fs-md-2 text-white">Blue Mosque Hotel</h3>
                  <div class="d-flex align-items-center justify-content-start">
                    <span class="text-light fs--1 me-1"
                      ><i class="fas fa-map-marker-alt"></i></span
                    ><span class="text-light me-md-3"
                      >Dismesi Sokak, Istanbul</span
                    >
                  </div>
                  <p class="mb-0 mt-3">Starts from</p>
                  <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                    <span>$175</span
                    ><span class="text-light fs--1 fw-normal">/Per person</span>
                  </h1>
                </div>
              </div>
              <a class="stretched-link" href="#!"> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="row g-2">
          <div class="col-12">
            <div class="card card-span h-100 text-white">
              <img
                class="img-fluid h-100 w-100"
                src="{% static 'assets/img/gallery/hotel-royal.png'%}"
                height="375"
                alt="..."
              />
              <div
                class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
              >
                <div class="mt-auto px-4">
                  <h3 class="fs-1 fs-md-2 text-white">Hotel Royal</h3>
                  <div class="d-flex align-items-center justify-content-start">
                    <span class="text-light fs--1 me-1"
                      ><i class="fas fa-map-marker-alt"></i></span
                    ><span class="text-light me-md-3">Kedewatan, Bali</span>
                  </div>
                  <p class="mb-0 mt-3">Starts from</p>
                  <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                    <span>$175</span
                    ><span class="text-light fs--1 fw-normal">/Per person</span>
                  </h1>
                </div>
              </div>
              <a class="stretched-link" href="#!"> </a>
            </div>
          </div>
          <div class="col-12">
            <div class="card card-span h-100 text-white">
              <img
                class="img-fluid h-100 w-100"
                src="{% static 'assets/img/gallery/boutique-hotel.png'%}"
                height="375"
                alt="..."
              />
              <div
                class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient"
              >
                <div class="mt-auto px-4">
                  <h3 class="fs-1 fs-md-2 text-white">
                    The Rin Boutique Hotel
                  </h3>
                  <div class="d-flex align-items-center justify-content-start">
                    <span class="text-light fs--1 me-1"
                      ><i class="fas fa-map-marker-alt"></i></span
                    ><span class="text-light me-md-3"
                      >Bang Lamung, Pattaya</span
                    >
                  </div>
                  <p class="mb-0 mt-3">Starts from</p>
                  <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                    <span>$175</span
                    ><span class="text-light fs--1 fw-normal">/Per person</span>
                  </h1>
                </div>
              </div>
              <a class="stretched-link" href="#!"> </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->

<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0" id="flights">
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3 darkw">
          Flights to Popular Places at the Best Costs
        </h5>
      </div>
    </div>
    <div class="row g-0 flex-center">
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #240d8c; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Chittagong</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #3011bb; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Sylhet</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #4914dc; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Chittagong</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #6213d2; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Chittagong</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #4611bc; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Coxs Bazar</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #7013ce; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Sylhet</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #4611bc; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Coxs Bazar</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #6213d2; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Chittagong</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #240d8c; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Coxs Bazar</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #4914dc; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Sylhet</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #3011bb; min-height: 230px">
          <h5 class="text-light">Dhaka - Chittagong</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
        <div
          class="d-flex flex-column justify-content-center px-3"
          style="background-color: #4611bc; min-height: 230px"
        >
          <h5 class="text-light">Dhaka - Coxs Bazar</h5>
          <h6 class="text-light fw-normal fs-0">From $100</h6>
          <i class="fas fa-arrow-right text-light mt-4"></i
          ><a class="stretched-link" href="#!"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- ============================================-->

<section class="py-0 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img
          class="d-inline-block"
          src="{% static 'assets/img/gallery/logo.png'%}"
          width="30"
          alt="logo"
        />
        <span class="fw-bold fs-5 text-primary ms-2">voyage</span>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block js %}
<script>
      document.addEventListener('DOMContentLoaded', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark= document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');
        
        if(!mode){
          localStorage.setItem("darkMode", "light");
          darkModeToggle.innerHTML = "Dark Mode";
        } else{
          if(mode === "dark"){
            darkModeToggle.innerHTML = "Light Mode";
            dark.forEach((element) => {
              element.classList.add('dark-mode');
            });
            darkw.forEach((element) => {
              element.classList.add('dark-word');
            });
          }
        }
        
        
      });
      
      
      darkModeToggle.addEventListener('click', () => {
        const darkModeToggle = document.getElementById('darkModeToggle');
        const mode = localStorage.getItem("darkMode");
        const dark= document.querySelectorAll('.dark');
        const darkw = document.querySelectorAll('.darkw');

        if(mode === "dark"){
          darkModeToggle.innerHTML = "Dark Mode";
          dark.forEach((element) => {
            element.classList.remove('dark-mode');
          });
          darkw.forEach((element) => {
            element.classList.remove('dark-word');
          });
          localStorage.setItem("darkMode", "light");
        } else{
          darkModeToggle.innerHTML = "Light Mode";
          dark.forEach((element) => {
            element.classList.add('dark-mode');
          });
          darkw.forEach((element) => {
            element.classList.add('dark-word');
          });
          localStorage.setItem("darkMode", "dark");
        }

      });
    </script>
{% endblock js %}
