<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TravelApp</title>
  {% comment %} <link rel="shortcut icon" type="image/png" href={% static "images/logos/favicon.png" %} /> {% endcomment %}
  <link href={% static "assets/css/theme.css" %} rel="stylesheet" />
  
  {% block css %}
  {% endblock %}

</head>

<body>
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img class="d-inline-block" src="assets/img/gallery/logo.png" width="50" alt="logo" /><span class="fw-bold text-primary ms-2">voyage</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="#destinations"><span class="nav-link-icon text-800 me-1 fas fa-map-marker-alt"></span><span class="nav-link-text">Locations </span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#flights"> <span class="nav-link-icon text-800 me-1 fas fa-plane"></span><span class="nav-link-text">Flights</span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#hotels"> <span class="nav-link-icon text-800 me-1 fas fa-hotel"></span><span class="nav-link-text">Hotels</span></a></li>
              <li class="nav-item px-2"><a class="nav-link" href="#activities"><span class="nav-link-icon text-800 me-1 fas fa-bolt"></span><span class="nav-link-text">Activities</span></a></li>
            </ul>
            <form>
              <button class="btn text-800 order-1 order-lg-0 me-2" type="button">Support</button>
              {% if user.is_authenticated %}
            <a href={% url "user:logout" %} class="btn btn-voyage-outline order-0" type="submit"><span class="text-primary">Sign Out</span></a>
            {% else %}
            <a href={% url "user:login" %} class="btn btn-voyage-outline order-0" type="submit"><span class="text-primary">Sign in</span></a>
            {% endif %}
              
            </form>
          </div>
        </div>
      </nav>

      {% block content %}
      {% endblock content %}

      
    </main>
      
    <script src={% static "vendors/@popperjs/popper.min.js" %}></script>
    <script src={% static "vendors/bootstrap/bootstrap.min.js" %}></script>
    <script src={% static "vendors/is/is.min.js" %}></script>
    <script src={% static "https://polyfill.io/v3/polyfill.min.js?features=window.scroll" %}></script>
    <script src={% static "vendors/fontawesome/all.min.js" %}></script>
    <script src={% static "assets/js/theme.js" %}></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&amp;display=swap" rel="stylesheet">

  {% block js %}
  {% endblock js %}

</body>

</html>